.DS_Store
*.pyc
*.swp
*.swo
*.class
*.jar
target/
.classpath
.project
/rtmidi/config
/rtmidi/configure
/rtmidi/Makefile.in
/rtmidi/aclocal.m4
/rtmidi/autom4te.cache
/rtmidi/configure
/rtmidi/m4
/rtmidi/doc/Makefile.in
/rtmidi/tests/Makefile.in

